/.settings
/.buildpath
/.project
/error_log
node_modules/
existing_labels_es.txt
gen_locale.php
gen_locale_es.php
existing_labels.txt
find_missing_labels.php
missing_labels_es.txt
used_labels.txt
missing_labels.txt